#page, #pageheader, #pagenav, #pagenavul, #articlecenter, #asideright{
    margin:0;
    padding:0;
}

#page{
    width:1200px;
    margin:auto;
}

#pagefooter{
    margin-top: 2em;
}

#pageheader{
    border-bottom:black 3px solid;
    border-top: black 3px solid;
}

#pageheader,  #pagenav{
    margin-top:1em;
    margin-bottom:1em;
}


#pageheader, #pagefooter{
    text-align: center;
}

#pagenav li{
    border:black solid thin;
    vertical-align: middle;
    padding-top:0.6em;
    padding-bottom:0.6em;
    text-align: center;
}


#pagenav a{
    margin:0;
    padding:0;
    height:2em;
    text-decoration:none;
    text-align: center;
    color:black;
}

#articlecenter{
    float: left;
    width: 70%;
}

#asideright {
    width: 30%;
    float: right;
}

li{
    display: block;
    float: left;
    width: 140px;
    text-align: center;
    margin-left: 2px;
}

#pagefooter{
    clear: both;
}

li:hover{
    background-color: #32a887;
}

img{
    width: 100%;
    height: auto;
}

/* onderstaande media-query zorgt voor de weergave van het scherm bij breedte kleiner dan 1200px*/
@media only screen and (max-width: 1200px) {
    #pagenav li{
        width: calc(100% / 4 - 2%);
        display: inline-block;
    }

    #articlecenter{
        width: 70%;
        float: left;
    }

    #asideright{
        width: 30%;
        float: right;
    }
}


/* onderstaande media-query zorgt voor de weergave van het scherm bij breedte kleiner dan 900px*/
@media only screen and (max-width: 900px) {
    #page{
        width: auto;
    }

    #pagenav li{
        width: 46%;
    }

    #articlecenter{
        float: none;
    }

    #asideright{
        width: 70%;
        float: none;
    }

}

/* onderstaande media-query zorgt voor de weergave van het scherm bij breedte kleiner dan 600px*/
@media only screen and (max-width: 600px) {
    #asideright, img, #pagefooter{
      display: none;
    }

    #pagenav li{
        width: 69%;
    }
}



