/*https://ghostbin.com/cpHU0 dit is de oplossing */
* {
    box-sizing: border-box;
}

main {
    width: 812px;
    height: 812px;
    margin: 0 auto;
    border: 1px solid darkgray;
    border-radius: 4px;
    background-color: #e5e5e5;
}
article{
    width: 260px;
    height: 90px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    position: relative;
    box-shadow: 0 5px 5px lightgray;
    border-radius: 4px;
}
span.pokenumber{
    position: absolute;
    right: 0;
    top: 0;
}
h1{
    color: #4078c0;
    position: relative;
    left: 15px;
}
img{
    float: right;
    position: relative;
    bottom: 70px;
}
.typeoverview{
    position: relative;
    bottom: 10px;
    left: 20px;
}
.grass{
    color: white;
    background-color: limegreen;
    border-radius: 4px;
    border: 4px solid limegreen;
}
.poison{
    color: white;
    background-color: purple;
    border-radius: 4px;
    border: 4px solid purple;
}
.fire{
    color: white;
    background-color: orangered;
    border-radius: 4px;
    border: 4px solid orangered;
}
.flying{
    color: white;
    background-color: #6facff;
    border-radius: 4px;
    border: 4px solid #6facff;
}